<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-audio-output-picker"
        version="1.0.0">

    <name>AudioOutputPicker</name>
    <description>Plugin para mostrar menú nativo de selección de salida de audio (Android)</description>
    <license>MIT</license>

    <js-module name="AudioOutputPicker" src="www/AudioOutputPicker.js">
        <clobbers target="AudioOutputPicker"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AudioOutputPicker">
                <param name="android-package" value="com.kuackmedia.plugins.audiooutputpicker.AudioOutputPickerPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/AudioOutputPickerPlugin.java"
                     target-dir="src/com/kuackmedia/plugins/audiooutputpicker/"/>
    </platform>

</plugin>
